
/target/
!.mvn/wrapper/maven-wrapper.jar
**/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
.DS_Store
fipe-backend/src/main/.DS_Store
fipe-backend/src/main/java/br/com/dbccompany/fipebackend/.DS_Store
fipe-backend/src/main/java/br/com/dbccompany/fipebackend/service/.DS_Store
